{{header}}

  <body>

  		<div class="navbar navbar-fixed-top">
			<div class="navbar-inner">
				<div class="container-fluid">
					<a class="brand" href="#">CSS Regression Test</a>
					<div class="nav-collapse">
						<ul class="nav">
							<li><a href="index.html">Report</a></li>
							<li class="active"><a href="faq.html">FAQ</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</div><!--/.nav-collapse -->
				</div>
			</div>
		</div>

		<div class="container-fluid">
			<div class="row-fluid">
				<div class="span12">
					<div class="hero-unit">
						<h1>CSS Regression Test FAQ</h1>
						<p>FAQs blurb here...</p>
					</div>
				</div>
			</div>
			<hr>

			<footer>
				<p>&copy; Namreb Mit 2012</p>
			</footer>
		</div>
    </div><!--/.fluid-container-->

{{footer}}