{{header}}

  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <a class="brand" href="#">CSS Regression Test</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="index.html">Report</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span12">
          <div class="hero-unit">
            <h1>CSS Regression Test Report</h1>
            <p>This report shows the CSS computed style differences for fragments on a page. See the FAQ page for more information.</p>
          </div>
          {{reportContent}}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Namreb Mit 2012</p>
      </footer>

    </div><!--/.fluid-container-->

{{footer}}